@font-face {
    font-family: 'deathNote';
    src: url('../../assets/font/DeathNote.ttf');
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  background: #f5f3f0;
  padding: 1rem 7%;
  transition: 0.5s;
  z-index:1000;
}
.dark .navbar {
  background: #222121;
}

.nav-list ul {
  list-style: none;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.nav-list ul li {
  display: inline-flex;
  margin: 10px 20px;
  
  cursor: pointer;
}
.nav-list li a {
  font-family: deathNote;
  position: relative;
  font-size: 1.5rem;
}

.nav-list li a::before {
  content: "";
  background-color: #FFB500;
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  height: 3px;
  width: 0;
  transition: 0.3s ease-in-out;
}
.nav-list li a:hover::before {
  content: "";
  background-color: #FFB500;
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  height: 3px;
  width: 100%;
  transition: 0.3s ease-in-out;
}


.icon-background {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.hamburguer{
  display:flex;
  flex-direction:column;
  width:50px;
  cursor:pointer;
  display:none;
  
}

.hamburguer span{
  border-radius:10px;
  height:4px;
  margin: 4px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.hamburguer.dark span{
  background: #ffffff;
} 

.hamburguer.light span{
  background: #000000;
}

.hamburguer span:nth-of-type(1){
  width:50%;
  
}

.hamburguer span:nth-of-type(2){
  width:100%;
}


.hamburguer span:nth-of-type(3){
  width:75%;
 
}


input[type="checkbox"]{
  display:none;
}


input[type="checkbox"]:checked ~ span:nth-of-type(1){
  transform-origin:bottom;
  transform:rotatez(45deg) translate(8px,0px)
}


input[type="checkbox"]:checked ~ span:nth-of-type(2){
  
  transform-origin:top;
  transform:rotatez(-45deg)
}


input[type="checkbox"]:checked ~ span:nth-of-type(3){
  
  transform-origin:bottom;
  width:50%;
  transform: translate(21px,-3px) rotatez(45deg);

}


@media(max-width: 900px){
  .navbar{
    height: 5rem;
  }
  .nav-list{
    display: none; 
  }
  .icon-background{
    position: absolute;
    left: 3rem;
  }
  .hamburguer{
    display: flex;
    position: absolute;
    right: 1rem;
  }
  
  .nav-list.is-open{
    display: block;
  }
  .nav-list ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 4.98rem;
    width: 100%;
    max-width: 20rem;
    background-color: #FFB500;
    gap: 2rem;
    padding: 2rem;
  }
  .nav-list ul > li{
    margin: 0 auto;
  }
  .nav-list li a::before {
    background-color: #ffffff;
  }
  .nav-list li a:hover::before {
    background-color: #ffffff;
  }
}
  


@media (max-width:500px){
  .nav-list ul{
    width: 100%;
    max-width: 35rem;
  }
}
