
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.aboutMe-menu > h1{
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.aboutMe-menu-text{
    display: flex;
    justify-content: space-around;
}
.title-aboutMe {
    text-align: center;
}

.aboutMe-left img{
    width: 20rem;
    margin: 1rem;
    transform: scaleX(-1);
}

.aboutMe-right > p{
    margin: 1rem;
    max-width: 29rem;
    font-size: 20px;
    font-family: "Shantell Sans", cursive;
    text-align: justify;
    font-optical-sizing: auto;
    font-style: normal;
}

@media (max-width: 700px){
    .aboutMe-left img{
        display: none;
        margin: 0rem;
    }
    .aboutMe-menu-text{
        display: flex;
        justify-content: center;
    }
}

.hidden{
    display: none;
}
.showButton{
    position: fixed;
    background-color: rgb(0, 0, 0);
    right: 5rem;
    bottom: 5rem;
    font-size: 5rem;
    color: rgb(255, 115, 0);
    cursor: pointer;
    animation: slideLeft 1s;
    border-radius: 50%;
    z-index: 9999999;
    padding: 0.5rem;
}

@keyframes slideLeft {
    0%{
        right: 0rem;
        opacity: 0;
    }
    100%{
        right: 5rem;
        opacity: 100%;
    }
}

@media (max-width:1700px){
    .showButton{
        right: 1rem;
        bottom: 4rem;
        font-size: 4rem;
        animation: slideLeft 1s;
        border-radius: 50%;
        padding: 0.5rem;
    }
    
    @keyframes slideLeft {
        0%{
            right: -2rem;
            opacity: 0;
        }
        100%{
            right: 1rem;
            opacity: 100%;
        }
    }
    
}
@media (max-width:500px){
    .showButton{
        bottom: 1rem;
        font-size: 3rem;
    }
}
